<div class="flex-1 pb-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>


  <div class="max-w-10xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-16">
    <div class="flex flex-col">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl"><%= t("clinics.Clinics") %></h1>
      <%= link_to t("clinics.New Clinic"), new_clinic_path, class:"inline-flex items-center px-4 py-2 border border-cyan-300 shadow-sm text-sm font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-5" %>

      <%= render 'search_form' %>
    </div>
    
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            
              <div class="shadow border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="underline bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Name") %></th>                      
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Postal Code") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Region") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Address") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Municipalities") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Building Name") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Floors") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Fax Number") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Phone Number") %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= t("clinics.Created At") %></th>
                      <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @clinics.each do |clinic| %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= clinic.name %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.postal_code %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.region %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.address %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.municipalities %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.building_name %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.floors %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.fax_number %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.phone_number %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= clinic.created_at.to_date %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to t("clinics.Show"), clinic_path(clinic), class:"inline-flex items-center px-4 py-2 text-sm font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
                        <%= link_to t("clinics.Edit"), edit_clinic_path(clinic), class:"inline-flex items-center px-4 py-2 border border-cyan-300 shadow-sm text-sm font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
                      </td>
                    </tr>
                    <% end %>
                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
          </div>
  </div>
    </div>
</div>
