<div class="container mx-auto mt-20 px-5 flex justify-center">
  <div class="min-h-full flex">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96 ">
        <div>
          <h2 class="mt-6 text-3xl font-extrabold text-gray-900 text-center">Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name,id:params[:id]), html: { method: :put, class:"space-y-6 rounded shadow px-5 py-5" }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="space-y-1">
                <%= f.label :password, class:"text-sm font-medium text-gray-700" %> <i class="text-sm font-medium text-gray-700">(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                <% if @minimum_password_length %>
                  <em class="text-sm font-medium text-gray-700"><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="mt-1">
                <%= f.label :password_confirmation, class:"text-sm font-medium text-gray-700" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              </div>

              <div class="field">
                <%= f.label :current_password, class:"text-sm font-medium text-gray-700" %> <i class="text-sm font-medium text-gray-700">(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              </div>


              <div class="actions">
                <%= f.submit "Update", class:"w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              </div>
          <% end %>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "アカウントを削除してもよろしいですか？" }, method: :delete, class:"w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %></p>

            <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>  













