<%= form_with(model: visit_route_master, class: "contents") do |form| %>
  <% if visit_route_master.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(visit_route_master.errors.count, "error") %> prohibited this visit_route_master from being saved:</h2>

      <ul>
        <% visit_route_master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="my-5">
    <%= form.label :visit_route_code %>
    <%# <%= form.text_field :visit_route_code, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %> 
  <%# </div> %> 

   <div class="border-solid border-2 border-gray-600 mt-20">
              <h1 class="text-2xl italic bg-white " style="border-bottom:1px solid gray;padding:10px; " >Basic Information</h1>

                <div class="my-5 mb-4 flex flex-wrap items-center text-center max-w-2xl">
                  <div class="w-1/3">
                   <%= "Master Name" %>
                  </div>
                  <%= form.text_field :master_name, class:" ml-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="my-5 mb-4 flex flex-wrap items-center text-center max-w-2xl">
                  <div class="w-1/3">
                  <%= "Item Name" %>
                  </div>
                  <%= form.text_field :visit_route_name, class:" ml-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="my-5 mb-4 flex flex-wrap items-center text-center max-w-2xl">
                  <div class="w-1/3">
                  <%= "Remarks" %>
                  </div>
                  <%= form.text_area :remarks, class:" ml-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="inline">
                  <%= form.submit "Create Visit Route", class: "ml-64 mb-4 rounded-lg py-3 px-5 bg-[#82ced5] text-white inline-block font-medium cursor-pointer" %>
                  <%# <%= link_to "Back", master_admin_admin_managements_path(tab: "button-visit_routes"), class: "rounded-lg py-3 px-5 bg-[#82ced5] text-white inline-block font-medium cursor-pointer" %> 
                </div>
            </div>
<% end %>
