<div id="<%= dom_id visit_route_master %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Visit route code:</strong>
    <%= visit_route_master.visit_route_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visit route name:</strong>
    <%= visit_route_master.visit_route_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this visit route master", visit_route_master, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this visit route master', edit_visit_route_master_path(visit_route_master), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
