<div>
    <button type="button" id="button-basic" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#43c17a] hover:bg-gray-600  w-65">
              基本
    </button> <!-- Basic Information -->
            
            
    <button type="button" id="button-counseling" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#43c17a] hover:bg-gray-600">
               カウンセリング・中断
    </button> <!-- Counseling / Interruption -->
         
    <button type="button" id="button-contract" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#43c17a] hover:bg-gray-600 ">
               患者ステータス・メモ
    </button> <!-- Patient status memo -->

    <button type="button" id="button-next-reservation" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#43c17a] hover:bg-gray-600 ">
               次回予約・紹介者 
    </button> <!-- Next reservation / introducer -->
</div> 

<% unless params[:action] == "edit" %>
  <% if @multi_visit_route.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@multi_visit_route.errors.count, "error") %> prohibited this clinic from being saved:</h2>
    </div>
  <% end %>
<% end %>
<div id="basic-div" class="form-div" style="display:block">
  <%= form_with(model: @patient,class: "contents") do |form| %>
    <% if @patient.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this clinic from being saved:</h2>

        <ul>
          <% @patient.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>

    <fieldset class="border border-solid border-gray-300 p-3 mt-3">
    <legend class="text-sm">忍耐強い</legend> <!-- Patient -->
  
        <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "患者番号", class: "mr-0" %> <!-- patient Number -->
        </span>
         <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" > 
        <%= form.number_field :patient_number,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:patient_number).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
         </div>
        
        </div>

        <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "患者氏名", class: "mr-5" %> <!-- Patient Name -->
       </span>
         <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" > 
        <%= form.text_field :last_name, placeholder: "苗字",:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <%= form.text_field :first_name, placeholder: "ファーストネーム",:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:last_name).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        <% @patient.errors.full_messages_for(:first_name).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>

    </fieldset>
    
    
    <fieldset class="border border-solid border-gray-300 p-3 mt-3">
    <legend class="text-sm">来院経路</legend> <!-- Visit Route -->
    
        <div class="my-5 flex flex-wrap items-center">
        <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "来院経路", class: "" %> <!-- Visit Route -->
        </span>
        <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" > 
        <%= form.text_field :patient_visit_route,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:patient_visit_route).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
       </div>
        </div>

         <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "キーワード", class: "mr-5" %> <!-- Keyword -->
        </span>
         <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" > 
        <%= form.text_field :keyword,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <%= form.text_field :keyword_detail,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:keyword).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>
    
    </fieldset>


    <fieldset class="border border-solid border-gray-300 p-3 mt-3">
    <legend class="text-sm">小切手</legend> <!-- Check -->
    
           <div class="my-5 flex flex-wrap items-center">
            <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "パノラマ", class: "mr-5" %> <!-- Panorama -->
        </span>
         <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" > 
        <%= form.check_box :panorama,:disabled => true %>
        <% @patient.errors.full_messages_for(:panorama).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>

        <div class="my-5 flex flex-wrap items-center">
         <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "カリエスチェック", class: "mr-5" %> <!-- Calies Check -->
        </span>
          <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.check_box :caries_check,:disabled => true %>
        <% @patient.errors.full_messages_for(:caries_check).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>
    
    </fieldset>


    <fieldset class="border border-solid border-gray-300 p-3 mt-3">
    <legend class="text-sm">コース</legend> <!-- Course -->

        <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "不明なコース", class: "mr-5" %> <!-- P Course -->
        </span>
          <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.text_field :unknown_course,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:unknown_course).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>
   
        <div class="my-5 flex flex-wrap items-center">
         <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "コース", class: "mr-5" %> <!-- course -->
        </span>
           <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.text_field :course,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:course).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>

         <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= form.label "Pコース", class: "mr-5" %> <!-- P Course -->
        </span>
          <div class="input-wrap" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.text_field :p_course,:disabled => true, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:p_course).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>
    
    </fieldset>


    <fieldset class="border border-solid border-gray-300 p-3 mt-3">
    <legend class="text-sm">担当者</legend> <!-- Responsible Person -->
    
       <div class="my-5 flex flex-wrap items-center">
       <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= "担当DR" %> <!-- Dr in Charge -->
        </span>
         <div class="input-wrap w-full" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.select :dentist_id, Dentist.all.map{|r|[r.first_name, r.id]}, {:include_blank => "Select"},:disabled => true, class: "w-56 shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
        <% @patient.errors.full_messages_for(:dentist).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>

        <div class="my-5 flex flex-wrap items-center">
          <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= "担当衛生士" %> <!-- Hygienist in charge -->
        </span>
         <div class="input-wrap w-full" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.select :dentist_hygienist_id, DentistHygienist.all.map{|r|[r.first_name, r.id]}, {:include_blank => "Select"},:disabled => true,class: "w-56 shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
        <% @patient.errors.full_messages_for(:dentist_hygienist).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>

          <div class="my-5 flex flex-wrap items-center">
           <span class="w-full" style="max-width:150px;flex:150px;" >
        <%= "担当TC" %> <!-- TC in charge -->
        </span>
         <div class="input-wrap w-full" style="max-width:calc(100% - 150px);flex:calc(100% - 150px);" >
        <%= form.select :treatment_coordinator_id, TreatmentCoordinator.all.map{|r|[r.first_name, r.id]}, {:include_blank => "Select"},:disabled => true, class: "w-56 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <% @patient.errors.full_messages_for(:treatment_coordinator).each do |message| %>
            <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
        <% end %>
        </div>
        </div>
    
    </fieldset>

    
  <% end %>
</div>


<%= form_with(model: @multi_visit_route,url: visit_routes_path,method: :post, class: "contents") do |f| %>

  <%= f.hidden_field :patient_id %> 
  <%= f.fields_for :visit_route do |form| %>
    <div id="counseling-div" class="form-div" style="display:none">
       <div class="my-5 flex flex-wrap items-center">
       <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "初診" , class:"mr-5"%> <!-- First Visit -->
      </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.date_field :first_visit,max: Date.today, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "セカンド", class:"mr-5"%>
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.date_field :second, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      </div>


      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "治療計画", class:"mr-5"%> <!-- Treatment Plan -->
      </span>
      <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :treatment_plan %>
      <%= form.date_field :treatment_plan_date, class: "w-56 shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ml-2" %>
      </div>
      </div>
      
      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "インプラント・矯正" , class:"mr-5"%> <!-- Implant / Correction -->
      </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.date_field :implant_correction, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      </div>

       <div class="my-5 flex flex-wrap items-center">
        <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= "高自費契約" %> <!-- High Self-Pay Contract -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :self_pay_contract, class: " rounded-md border outline-none ml-0" %>
      </div>
      </div>

       <div class="my-5 flex flex-wrap items-center">
         <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= "メンテ(ケンサ2)"%> <!-- Maintenance Kensa 2 -->
       </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.date_field :maintenance, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      </div>
     <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "中断", class:"mr-5"%> <!-- Suspension -->
      </span>
        <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :suspension%>
      <%= form.date_field :suspended_date, class: "ml-2 shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-56" %>
      </div>
      </div>
      
    <div class="my-5 flex flex-wrap items-center">
     <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "終了", class:"mr-5"%> <!-- End -->
      </span>
      <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :confirmation_end , class:"" %>
      <%= form.date_field :end_date, class: "ml-2 w-56 shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
     </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "メンテ", class:"mr-5"%> <!-- maintenance -->
      </span>
       <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :maintenance_visit, class: "rounded-md border outline-none" %>
      <%= form.date_field :maintenance_visit_date, class: "rounded-md border border-gray-200 outline-none px-3 py-2 ml-2 w-56" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
       <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "中断後連絡(TEL)", class:"mr-5"%> <!-- Contract after interruption TEL -->
      </span>
       <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :contact_TEL, class: "rounded-md border outline-none" %>
      <%= form.text_field :suspension_contact_TEL, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 ml-2 w-56" %>
     </div> 
      </div>

        <div class="my-5 flex flex-wrap items-center">
         <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "中断後連絡(ハガキ)", class:"mr-5"%> <!-- Contract after interruption postcard -->
      </span>
        <div class="input-wrap w-full" style="max-width:270px;flex:270px;" >
      <%= form.check_box :contact_postcard, class: "rounded-md border outline-none" %>
      <%= form.text_field :suspended_contact_postcard, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 ml-2 w-56" %>
     </div>
      </div>

     <div class="my-5 flex flex-wrap items-center">
     <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "中断後来院" %> <!-- Visit after interruption -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.text_field :visit_after_interruption, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      </div>
    </div>

    <div id="contract-div" class="form-div" style="display:none">

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "P重防対象者", class:"mr-5"%> <!-- P heavy defense target person -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :p_heavy_defense_target, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "P重防算定者", class:"mr-5"%> <!-- P Heavy defense calculator -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :p_heavy_defense_calculation, class: "rounded-md border outline-none" %>
      <%= form.date_field :p_heavy_defense_calculation_date, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 ml-5" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "検査4mm", class:"mr-5"%> <!-- Inspection 4mm -->
       </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :inspection_4mm, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "Pセカンド", class:"mr-5"%> <!-- P second -->
       </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :p_second, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "検査③", class:"mr-5"%> <!-- Inspection③ -->
       </span>
       <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :inspection_3, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label :FOP, class:"mr-5"%>
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :fop, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "ホワイト", class:"mr-5"%> <!-- White -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :whitening, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "医管", class:"mr-5"%> <!-- Medical Tube -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :medical_tube, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "補綴", class:"mr-5"%> <!-- Prosthodontics -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.select(:prosthodontics, options_for_select(ProsthodonticMaster.pluck(:prosthodontic_name, :id), selected: params[:prosthodontic_name]), { prompt: "Select Prosthodontics" }, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500") %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "MT歯数", class:"mr-5"%> <!-- MT number of teeth -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.text_field :mt_tooth_number, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "不正咬合", class:"mr-5"%> <!-- Malocclusion -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :malocclusion, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "その他", class:"mr-5"%> <!-- Others -->
      </span>
      <div class="input-wrap w-full" style="max-width:238px;flex:238px;" >
      <%= form.text_area :note, cols: 40, rows: 5, class: "rounded-md border outline-none w-full" %>
      </div>
      </div>
    </div>

    <div id="next_reservation" class="form-div" style="display:none">
      <div class="my-5 flex flex-wrap items-center">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "次回予約", class:"mr-5"%> <!-- Next Reservation -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.date_field :next_reservation_date,min: Date.today,class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center mt-8">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "お礼状", class:"mr-5"%> <!-- Thank-you-letter -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.check_box :thank_you_note, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center mt-8">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "患者番号", class:"mr-5"%> <!-- Patient Number -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.text_field :thank_you_note_patient_no, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center mt-8">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "紹介者氏名", class:"mr-5"%> <!-- Introducer Name -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.text_field :introducer_name, class: "rounded-md border outline-none" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center mt-8">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "担当者職種", class:"mr-5"%> <!-- Person in Charge Job-type -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.select :charge_job_type, VisitRoute.roles.keys, {:include_blank => "Select"},class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-60" %>
      </div>
      </div>

      <div class="my-5 flex flex-wrap items-center mt-8">
      <span class="w-full" style="max-width:220px;flex:220px;" >
      <%= form.label "担当者氏名", class:"mr-5"%> <!-- Name of Person in charge -->
      </span>
      <div class="input-wrap w-full" style="max-width:250px;flex:250px;" >
      <%= form.select :person_in_charge, @hash.keys, {:include_blank => "Select"},class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-60" %>
      </div>
      </div>

      <%= form.hidden_field :patient_number, value: @patient.patient_number %>

      <div class="w-full flex justify-end max-w-sm mt-28">
      <%= form.submit "保存", class:"submit-button rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
<% end %>

<style> 
  button#button-basic {
    width: 124.703px;
    text-align: center;
    display: inline-block;
}   

</style>

<script>
//for counseling-information

  $("#button-counseling").click(function(){
    $("#button-basic").removeClass("bg-gray-500");
    $("#button-counseling").addClass("bg-gray-500");
    $("#button-contract").removeClass("bg-gray-500");
    $("#button-next-reservation").removeClass("bg-gray-500");
    $(".form-div").hide();
    $(".submit-button").hide();
    $("#counseling-div").show();    
  });

//for basic-information

  $("#button-basic").click(function(){
    $("#button-basic").addClass("bg-gray-500");
    $("#button-counseling").removeClass("bg-gray-500");
    $("#button-contract").removeClass("bg-gray-500");
    $("#button-next-reservation").removeClass("bg-gray-500");
    $(".form-div").hide();
    $(".submit-button").hide();
    $("#basic-div").show();
  });


//for contract-information
  $("#button-contract").click(function(){
    $("#button-basic").removeClass("bg-gray-500");
    $("#button-counseling").removeClass("bg-gray-500");
    $("#button-contract").addClass("bg-gray-500");
    $("#button-next-reservation").removeClass("bg-gray-500");
    $(".form-div").hide();
    $(".submit-button").hide();
    $("#contract-div").show();
  });

//for next-reservation
  $("#button-next-reservation").click(function(){
    $("#button-basic").removeClass("bg-gray-500");
    $("#button-counseling").removeClass("bg-gray-500");
    $("#button-contract").removeClass("bg-gray-500");
    $("#button-next-reservation").addClass("bg-gray-500");
    $(".submit-button").show();
    $(".form-div").hide();
    $("#next_reservation").show();
  });

</script>