<main class="flex-1 pb-8">
    <div class="max-w-full mx-auto mt-20 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8 mr-8">
    <% unless params[:format] == "pdf" %>
        <div class="flex">
            <%= form_tag({:controller => "dentist_aggregations", :action => "annual_tabulation"}, {:method => :get}) do %>
                <div class="md:grid md:grid-cols-7 gap-2 mb-5 flex-1 items-center button-align" style="grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;" >   
                    <%= label_tag t("dr.Period"), nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
                    <%= month_field_tag :first_date,value = params[:first_date],id: "first_date", onchange: "check_fields_search()", class:"text-center font-medium md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                    <%= month_field_tag :second_date,value = params[:second_date],id: "second_date", onchange: "check_fields_search()", class:"text-center font-medium md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>                                    
                    <%= submit_tag(t("dr.Search"), :id=>"search-button",disabled: true, :class=>"cursor-pointer cursor-not-allowed w-full text-center col-span-1 active items-center px-4 py-1 border border-transparent font-small rounded-md shadow-xl text-white bg-green-300 ", :name=>"submit") %>
                    <%= link_to t("dr.Reset"), annual_tabulation_dentist_aggregations_path, class:"w-full text-center col-span-1 active items-center px-4 py-2 border border-transparent font-small rounded-md shadow-xl text-white bg-red-500 hover:bg-red-600" %>
                <span class="col-span-1"></span>
                    <%= link_to '年間推移', annual_tabulation_graph_dentist_aggregations_path, class:"w-full  active items-center px-4 py-2 border border-transparent font-small rounded-md shadow-xl text-white bg-green-500 hover:bg-green-600" %>
                    <%= link_to '年間推移(個人)', annual_individual_graph_dentist_aggregations_path, class:"w-full  active items-center px-4 py-2 border border-transparent font-small rounded-md shadow-xl text-white bg-green-500 hover:bg-green-600" %>
                </div>    
            <% end %>
                <div class="mt-2 flex-0.5">
                <%= link_to "帳票出力", annual_tabulation_dentist_aggregations_path(format: "pdf",first_date: params[:first_date], second_date: params[:second_date], submit: params[:submit] ), class: "w-full ml-2 active items-center px-4 py-2 border border-transparent font-small rounded-md shadow-xl text-white bg-green-500 hover:bg-green-600 whitespace-nowrap linked"%>
                </div>
        </div>
    <% end %>
       
        <div class="flex flex-col">
            <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">            
                <div class="">
                    <div style="display:block" class="max-h-[600px]" id="new-patient-progress">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50 sticky top-0 z-10">
                              <tr>
                                <th scope="col" rowspan="2" class="sticky bg-white left-0 z-2 px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider whitespace-nowrap border border-l-4">      </th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Reserve Number of People") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Actual Visit Patient") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Insurance Number of People")%></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Emergency Number of People") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.New Patient") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Re-First") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.End") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" colspan="2">TEL</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" colspan="2"><%= t("dr.Without Permission") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" colspan="2"><%= t("dr.Total") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Score") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Own Expense Amount of Money") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Miscellaneous Income") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Own Expense Number of People") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Payment Number of People") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Through Number of Reservations") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Through Rate") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Actual Visit Number of People")%></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Introduction Card")%></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Introduction Number of Patients") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" rowspan="2"><%= t("dr.Refferal Rate") %></th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4 border-r-4" colspan="2"><%= t("dr.Go Home")%></th>
                              </tr>
                              <tr>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.No of People") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.Rate") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.No of People") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.Rate") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.No of People") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.Rate") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4" ><%= t("dr.No of People") %></th>
                              <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider whitespace-nowrap border border-l-4 border-r-4" ><%= t("dr.Rate") %></th>
                              </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200"> 
                            <% @hash.each do |year,v| %>
                              <% @hash[year].each do |month| %>                           
                                <% yearly_individual(@annual_aggregations,month,year) %>                                                                
                                <% if @dentist_aggregations.present? %>
                                    <tr>
                                    <td class="sticky bg-white left-0 z-2 px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= "#{month}/#{year}"%></td>                            
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:no_of_reservations)   %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:actual_visit_patients)   %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:insurance_peoples) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:emergency_patients )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:new_patients) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:re_entry_patients) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:patients_finished) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:no_of_cancellations) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@dentist_aggregations.sum(:no_of_cancellations).to_f / @dentist_aggregations.sum(:no_of_reservations).to_f,:precision => 2)%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:no_notice_cancellations) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@dentist_aggregations.sum(:no_notice_cancellations).to_f / @dentist_aggregations.sum(:no_of_reservations).to_f,:precision => 2)%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:no_of_cancellations).to_i + @dentist_aggregations.sum(:no_notice_cancellations).to_i %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision((@dentist_aggregations.sum(:no_of_cancellations).to_i + @dentist_aggregations.sum(:no_notice_cancellations).to_i) / @dentist_aggregations.sum(:no_of_reservations).to_f,:precision => 2) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:score) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:own_expense_amount_money )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:miscellaneous_income) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:own_expense_people )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:payment_people )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:through_no_of_reservations )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:through_rate) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= actual_visitors(@dentist_aggregations) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:introduction_card )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:introduction_patients )%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@dentist_aggregations.sum(:referral_rate).to_f / @dentist_aggregations.sum(:actual_visit_patients).to_f,:precision => 2)%></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @dentist_aggregations.sum(:people_returning_home) %></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4 border-r-4"><%= number_with_precision(@dentist_aggregations.sum(:people_returning_home).to_f / @dentist_aggregations.sum(:no_of_reservations).to_f,:precision => 2)%></td></td>
                                    </tr>                                                                         
                                <% end %>
                              <% end %>                                   
                            <% end %>
                            </tbody>
                            <tfoot>
                              <!-- TOTAL -->
                            <% if @annual_aggregations.present? %>
                              <% total(@annual_aggregations) %>
                               <tr>
                                <td class="sticky bg-white left-0 z-2  px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= t("dr.Total") %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_no_of_reservations   %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_actual_visit_patients   %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_insurance_peoples %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_emergency_patients %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_new_patients %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_re_entry_patients %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_patients_finished %></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_no_of_cancellations %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @tel_rate %></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_no_notice_cancellations %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @without_permission_rate %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_cancellations %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_rate%></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_score %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_own_expense_amount_money %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_miscellaneous_income %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_own_expense_people %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_payment_people %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_through_no_of_reservations %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_through_rate %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_actual_visit_peoples %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_introduction_card %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_introduction_patients %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @average_referral_rate %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= @total_people_returning_home %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4 border-r-4"><%= @go_home_rate %></td>
                               </tr>
                              
                              <!-- AVERAGE -->
                                <tr>
                                <td class="sticky bg-white left-0 z-2  px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= t("dr.Average") %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_no_of_reservations.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_actual_visit_patients.to_f / @total_months,:precision => 2)   %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_insurance_peoples.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_emergency_patients.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_new_patients.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_re_entry_patients.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_patients_finished.to_f / @total_months,:precision => 2) %></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_no_of_cancellations.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@tel_rate.to_f / @total_months,:precision => 2)%></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_no_notice_cancellations.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@without_permission_rate.to_f / @total_months,:precision => 2)%></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_cancellations.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_rate.to_f.to_f / @total_months,:precision => 2)%></td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_score.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_own_expense_amount_money.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_miscellaneous_income.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_own_expense_people.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_payment_people.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_through_no_of_reservations.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_through_rate.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_actual_visit_peoples.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_introduction_card.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_introduction_patients.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@average_referral_rate.to_f / @total_months,:precision => 2)%></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4"><%= number_with_precision(@total_people_returning_home.to_f / @total_months,:precision => 2) %></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border border-l-4 border-r-4"><%= number_with_precision(@go_home_rate.to_f / @total_months,:precision => 2)%></td>
                               </tr> 
                            <% else %>
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500 text-center">No Result Found!!</td>
                                    </tr>    
                            <% end %>                     
                            </tfoot>                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<style>
.linked{  font-size: 16px;
}
.button-align input, .button-align a {
    font-size: 16px;
  }
  .button-align {
    margin: -3px 0 15px;
}

@media only screen and (max-width: 1750px) {
    
.button-align{
    grid-template-columns: auto 1fr 1fr 1fr 1fr 0fr 1fr 1fr !important;
}

.button-align input, .button-align a {
    font-size: 16px;
    margin: 0;
    padding: 9px;
    text-align: center;
}



}
@media only screen and (max-width: 1439px) {
.button-align input, .button-align a {
    font-size: 14px;
    white-space: nowrap;
}

}
</style>

<script>
    function check_fields_search() {
        if($("#first_date").val() && $("#second_date").val()){
            $("#search-button").removeClass("cursor-not-allowed");
            $("#search-button").removeAttr("disabled");
            $("#search-button").removeClass("bg-green-300");
            $("#search-button").addClass("bg-[#43c17a] hover:bg-green-500")
        }
    }
</script>

