<div class="container mx-auto mt-20 px-5 flex justify-center">
  <div class="min-h-full flex">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96 ">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <h2 class="mt-6 text-3xl font-extrabold text-gray-900 text-center">Forgot your password?</h2>
        </div>
        <div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,class:"space-y-6 rounded-md shadow px-5 py-5" }) do |f| %>

              <div class="mb-4">
                <%= f.label :email, class:"text-sm font-medium text-gray-700" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              </div>

              <div class="actions">
                <%= f.submit "Send me reset password instructions",class:"font-medium text-indigo-600 hover:text-indigo-500"  %>
              </div>
            <% end %>
            <div class="mt-1 text-center inline-flex">
              <%= render "devise/shared/links" %>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>  

