  <main class="flex-1 pb-8 mt-20">

        <div class="max-w-6xl mx-auto mt-20 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
        <!-- Search -->
        <%= link_to t("dentisthygienist.Create Dentist Hygienist"), new_dentist_hygienist_path, class:"text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
        
        <%= render 'search_form' %>
        <!-- Table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="underline bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :first_name,t("dentisthygienist.First Name") , default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :last_name, t("dentisthygienist.Last Name"), default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :phone, t("dentisthygienist.Phone Number"), default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :created_at, t("dentisthygienist.Created At"), default_order: :desc) %></th>  
                      <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Action</span>
                      </th>                   
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @users.each do |user| %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.first_name %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.last_name %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.created_at.to_date %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to t("dentisthygienist.Edit"), edit_dentist_hygienist_path(user.id),class:"text-cyan-900 hover:text-cyan-900" %>
                        <%= link_to t("dentisthygienist.Delete"), dentist_hygienist_path(user), method: :delete, data: { confirm: "この歯科衛生士を削除してもよろしいですか？" },class:"text-cyan-900 hover:text-cyan-900" %>
                      </td>
                    </tr>
                    <% end %>
                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
          </div>
          <% if @pagy.count > 10 %>
            <div class="mt-5">
              <%== pagy_nav(@pagy) %>
            </div>          
          <% end %>
        </div>
        </div>
      </div>
    </main>


